# Week 3 of IBM Advanced Data Science Capstone Project

## For this section, I will apply simple predictive modeling using PySpark ML before using the algorithms in Python sci-kit learn library.

### Import csv file from previous week

In [17]:
!wget https://raw.githubusercontent.com/aziz0519/Advanced-Data-Science-Capstone-Project/master/listing_model.csv

--2020-03-22 06:30:43--  https://raw.githubusercontent.com/aziz0519/Advanced-Data-Science-Capstone-Project/master/listing_model.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 417650 (408K) [text/plain]
Saving to: ‘listing_model.csv.2’

listing_model.csv.2 100%[===================>] 407.86K  --.-KB/s    in 0.08s

2020-03-22 06:30:44 (5.10 MB/s) - ‘listing_model.csv.2’ saved [417650/417650]

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
data = pd.read_csv('listing_model.csv.2')
data.head()

   neighbourhood_group  ...  distance_to_nearest_stn
0                    2  ...                 0.617939
1                    0  ...                 0.397868
2                    2  ...                 0.524388
3                    1  ...                 0.486465
4                    1  ...                 0.479073

[5 rows x 11 columns]

In [21]:
data.columns

Index(['neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'price', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365',
       'distance_to_nearest_stn'],
      dtype='object')

In [22]:
#Drop columns that does not contain any number of reviews
data_final = data[data.number_of_reviews > 0]
data_final.shape

(5117, 11)

In [0]:
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split

In [0]:
X = data_final[['neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365',
       'distance_to_nearest_stn']]
y = data_final['price']

In [0]:
sc = StandardScaler()
X_sc = sc.fit_transform(X)